<%-include('../layout/admin-header.ejs')%> 

<div class="col-12">
                <div class="bg-secondary rounded h-100 p-4 m-3">
                    <h6 class="mb-4">Order Management</h6>
                    <form action="/admin/widget" method="post" >
                        <div class="date-range bg-secondary ">
                          <label for="start-date">Start Date:</label>
                          <input id="start-date" type="date" name="start">
                          <label for="end-date">End Date:</label>
                          <input id="end-date" type="date" name="end">
                          <button type="submit">Filter</button>
                          <% if(sdate){ %>
                            <a class="btn btn-primary" href="/admin/widget">Remove</a>
                       <%}%>
                        </div>
                      </form>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">no</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">DeliveryAdress</th>
                                    
                                    <th scope="col">Payment</th>
                                    <th scope="col">status</th>
                                    <th scope="col">return.Req</th>
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% for(let i=0; i<data.length; i++){ %>
                                <tr>
                                    <th scope="row"><%=i+1+((page-1)*5) %></th>
                                    <td><%=data[i].user%></td>
                                    <td><%=data[i].date.toISOString().substring(0,10)%></td>
                                    <td><%=data[i].deliveryDetails%></td>
                                    <td><%=data[i].paymentMethod %></td>
                                   <td> <select onchange="status('<%=data[i]._id %>','status<%=i%>')"   name="status<%=i%>" id="status<%=i%>" class="form-control">
                                    <option selected disabled hidden value="">Status:<%=data[i].status %></option>
                                      <option class="btn btn-danger" value="Cancelled">Cancel</option>
                                      <option class="btn btn-light" value="Placed">Placed</option>
                                      <option class="btn btn-success" value="Shipped">Shipped</option>
                                      <option class="btn btn-info" value="Delivered">Delivered</option>
                                      <option class="btn btn-warning" value="Pending">Pending</option>
                                  </select></td>
                              <% if(data[i].status == 'Return' ){ %>
                                   <td><a  onclick="statusreject('<%=data[i]._id %>','Return Rejected')" href="" class="btn btn-danger" >REJECT</a> <a  onclick="statusreject('<%=data[i]._id %>','Return Approved')" href="" class="btn btn-success" >APPROVE</a></td>
                                   <%}else if(data[i].status == 'Return Rejected' ) {%>
                                    <td>Rejected</td>
                                    <%}else if(data[i].status == 'Return Approved' ) {%>
                                        <td>Approved</td>
                                        <%}else{%>
                                  <td> Not yet</td>
                                            <%}%>
                                           

                                            <% if(data[i].CancelReason=='Cancelled' || 'Return'){ %>
                                              <td><button class="btn btn-primary" onclick="reason('<%=data[i].CancelReason%>')" >View</button></td>
                                              <%}else{%>
                                                  <p style="text-align: center;" ></p>
                                                  <%}%>
                                </tr>
                              
                                <%}%>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="block-27">
                   <ul>
                    <% for(let i =1 ; i<=size;i++){ %>
                       <a id="pagespan" href="/admin/widget?page=<%=i%>&spanid=spanid<%=i%>&sdate=<%=sdate%>&edate=<%=edate%>"><span id="spanid<%=i%>" ><%=i%></span></a>
                     
                    <%}%>
                    <input type="hidden" id="spanidinput" value="<%=span_id%>" >
                   </ul>
                </div>
                </div>
            </div>

            <input type="hidden" id="dstart" value="<%=sdate%>" >
<input  type="hidden" id="dend" value="<%=edate%>" >



<!-- script starting -->
<script>
  
    const dstart  = document.getElementById("dstart").value
    const  dend  = document.getElementById("dend").value
    document.getElementById("start-date").value=dstart
    document.getElementById("end-date").value=dend
  </script>

            <script>document.getElementById('link4').classList.add("active") </script>
            <script>
                const startDate = document.getElementById('start-date');
          const endDate = document.getElementById('end-date');
          const filterButton = document.querySelector('button');
          
          // Disable dates earlier than today
          
          
          // Add event listeners to date inputs
          startDate.addEventListener('change', () => {
            endDate.setAttribute('min', startDate.value);
          });
          endDate.addEventListener('change', () => {
            startDate.setAttribute('max', endDate.value);
          });
          
          // Add event listener to filter button
          filterButton.addEventListener('click', () => {
            // Validate date inputs
            if (startDate.value > endDate.value) {
              alert('End date cannot be less than start date');
              return;
            }
          });
          </script>


<script>
    function reason(data){
 
 Swal.fire({
            title:'Reason ',
            text:data,
            icon:"warning",
            confirmButtonColor:"#3085d6",
            CancelButtonColor:'#d33',
            confirmButtonText:'ok'
        })

    }
</script>



            <script>
               
function status(orderId,Id){
   
   var status = document.getElementById(Id).value
    $.ajax({
        
            url:'/admin/orderstatus',
            method:'post',
            data:{
				data:status,
                id:orderId
            },
            success:(response)=>{
                if(response.success){
                  location.reload()
                }else{
                    location.href='/admin/index'
                }
               
               }
   
         })
}

function statusreject(orderId,status){

    $.ajax({
            url:'/admin/orderstatus',
            method:'post',
            data:{
				data:status,
                id:orderId
            },
            success:(response)=>{
                if(response.success){
                  location.reload()
                }else{
                    location.href='/admin/index'
                }
               
               }
   
         })
}
            </script>



<style>
    #pagespan span {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid rgb(218, 17, 17);
    margin: 0 5px;
    border-radius: 5px;
  }
  #pagespan span:hover {
  background-color: red;
  color: white;
}
.actives{
    background-color: red;
  color: white;
}


  form {
  display: flex;
  justify-content: center;
}

.date-range {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

label {
  font-weight: bold;
}

input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

</style>

<script>document.getElementById(document.getElementById('spanidinput').value).classList.add("actives")  </script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="sweetalert2.all.min.js"></script>
		<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
            <%-include('../layout/admin-footer.ejs')%> 