<%- include('../layout/header.ejs')%>
<div class="row row-pb-md">
    <% for(let i=0; i<data.length; i++){ %>
       
    <div class="col-lg-4 mb-4 text-center">
        
        <div class="product-entry border">
            <a href="" class="prod-img">
                <img width="200px" height="200px" src="/admin/imagies/coupon2.png" class="img-fluid" alt="Free html5 bootstrap 4 template">
            </a>
            <div class="desc">
                <h2><a href="#">coupen</a></h2>
                <h5>Flat Rs.<%=data[i].discount %> discount</h5>
                <h6>On Rs.<%=data[i].purchaceamount %>  total cart amount purshase </h6>
                <span class="price">CODE : <%=data[i].couponcode%></span>
                <span>Exprire on <%=data[i].expiredate.toISOString().substring(0,10)%></span>
               
            </div>
        </div>
        
    </div>
    
    <%}%>
    
</div>
<%- include('../layout/footer.ejs')%>