<%- include('../layout/header.ejs')%>
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a href="myorders">Back</a></span> / <span>Your order</span></p>
			</div>
		</div>
	</div>
</div>
<div class="row row-pb-lg">
    <div class="col-md-10 offset-md-1">
        <div class="process-wrap">
            <div class="process text-center active  ">
                <p><span  >01</span></p>
                <h3>Payment</h3>
            </div>
            <div class="process text-center active">
                <p><span>02</span></p>
                <h3>Order-completed</h3>
            </div>
            <div class="process text-center">
                <p><span>03</span></p>
                <h3>Delivery</h3>
            </div>
        </div>
    </div>
</div>



		<div class="colorlib-about">
			<div class="container">
				<%if (orderData[0].status=='Cancelled'){ %>
					<h1 id="cancelDiv" style="color: red; text-align: center;">ORDER CANCELLED!</h1>
					<%}else if(orderData[0].status=='Delivered'){ %>
						<h2 style="color: green; text-align: center;" >Order successfully  delivered </h2>
						<%}else if(orderData[0].status=='Return'){%>
							<h2 style="color: rgb(12, 233, 78); text-align: center;" >return request sent response will send in 12 Hour </h2>
							<p><strong>return request sent response will send in 12 Hour</strong></p>
							<%}else if(orderData[0].status=='Return Rejected'){  %>
								<h2 style="color: red; text-align: center;" >SORRY YOUR RETURN REQUEST HAS BEEN REJECTED </h2>
								
								<%}else if(orderData[0].status=='Return Approved'){  %>
									<h2 style="color: green; text-align: center;" >YOUR RETURN REQUEST HAS BEEN APPROVED </h2>
									<%}%>
				<div class="row row-pb-lg">
					
                    <% for(let i=0;i< orderData.length;i++){ %>
						<input type="hidden" id="orderId" value="<%=orderData[i]._id%>" >
						
                         <% for(let j=0;j< orderData[i].products.length;j++){ %>
                           
					<div class="col-sm-6 "   >
						<img  width="300px" height="300px" src="<%=orderData[i].products[j].productId.image[0]%>" alt="">
					</div>
					<div class="col-sm-6"  >
							<h2><%=orderData[i].products[j].productId.name%></h2>
							<p><%=orderData[i].products[j].productId.description%></p>
                            <div class="display-tc">
                                <label for="quantity">count<input type="button" id="quantity"  name="quantity" class="btn btn-sm" value="<%=orderData[i].products[j].count%>" min="1" max="100"></label>
                                
                            </div>
                            <p>Price:<%=orderData[i].products[j].productId.price%></p>
							<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						<!-- <button class="btn btn-info" onclick="remove('<%=orderData[i]._id%>','<%=j%>' )" >remove-order</button> -->
					
                </div>
                <hr class="m-4" width="100%" color="Grey" >
                    <%}%>
                    <div class="ml-auto">
                        <% for(let j=0;j< orderData[i].products.length;j++){ %>
                        <p style="display: flex; justify-content: space-between;"><%=orderData[i].products[j].productId.name%> <span>: <%=orderData[i].products[j].productId.price%></span> </p>
                        <%}%>
                    <p  style="display: flex; justify-content: space-between;" >Price <span> :<%=orderData[i].totalAmount%></span></p>
					<%if (orderData[i].status=='Cancelled'){ %>
						<button class="btn btn-danger" >CANCELLED</button>
						<%}else if(orderData[i].status=='Delivered'){%>
                  <a href="" onclick="cancel('<%=orderData[i]._id%>','Return')" class="btn btn-success" >RETURN</a>
				   <%}else if(orderData[i].status=='Return'){%>
					<p><strong>return request sent response will send in 12 Hour</strong></p>
					<%}else if(orderData[i].status=='Return Rejected'){  %>
						<p style="color: red;" ><strong>SORRY YOUR RETURN REQUEST HAS BEEN REJECTED </strong></p>
						<%}else if(orderData[i].status=='Return Approved'){  %>
							<p style="color: rgb(27, 124, 14);" > <strong>YOUR RETURN REQUEST HAS BEEN APPROVED </strong> </p>
							<%}else{%>
								<a href="" onclick="cancel('<%=orderData[i]._id%>','Cancelled')" class="btn btn-success" >Cancel-Order</a>
								<%}%>

                </div>
                     <%}%>
				</div>
			</div>
		</div>
       

		
	<style>
		.activ {
color: blue;
text-decoration:  underline;}
	</style>
		<script>
			const myLink = document.getElementById("link5");
	myLink.classList.add("activ");

		</script>



    
    <script>
function remove(id,index){
    
   $.ajax({
    
      url:'/removeorder',
      method:'post',
      data:{
          id:id,
          index:index
      },
      success:(response)=>{
		if(response.success){
			location.reload()
		}else{
			location.href='/myorders'
		}
            
         }

   })
}
    </script>


<script>
	function cancel(id, status) {
		event.preventDefault()
		let title = status === "Cancelled" ? "Are you sure you want to cancel this order? Enter the reason!" : "Enter the reason for returning this order";
  Swal.fire({
    title: title,
    input: 'textarea',
    showCancelButton: true,
    inputValidator: (value) => {
      if (!value) {
        return 'Please enter a cancel reason'
      }
    }
  }).then((result) => {
    if (result.isConfirmed) {
      const reason = result.value;
      $.ajax({
        url: '/cancel-order',
        method: 'POST',
        data: { id, status, reason },
        success: (response) => {
          if (response.success) {
          location.reload()
          } else {
            location.href = '/myorders';
          }
        }
      });
    }
  });
}

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

<%- include('../layout/footer.ejs')%>