<%- include('../layout/header.ejs')%>

<div class="container mt-3">
    <h1>Bootstrap Wallet History</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Transaction ID</th>
                <th>Amount</th>
                <th>current</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0;i<data.length;i++){ %>
            <tr>
                <td><%= data[i].date.toISOString().substring(0,10) %></td>
                <td><%= data[i]._id %></td>
                <%if(data[i].is_add==true){  %>
                <td style="color: green; font-weight: bolder;" >+<%= data[i].withdraw %></td>
                <%}else{%>
                    <td style="color: red;font-weight: bolder; " >-<%= data[i].withdraw %></td>
                    <%}%>
                <td><%= data[i].balance %></td>
            </tr>
            <%}%>
            
        </tbody>
    </table>
</div>

<%- include('../layout/footer.ejs')%>